* {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  margin: 15px;
}
.title {
  padding-bottom: 10px;
  font-size: 40px;
  font-family: $title;
  color: $colorMain;
}
.series {
  border: none;
  border-bottom: 2px solid $borderLine;
  color: $colorMain;
  font-family: $series;
  font-size: 15px;
  width: 300px;
  padding: 5px;
  &::placeholder{
    color: $colorMain;
    font-family: $title;
    font-size: 15px;
  }
}
.container {
  background-color: $background;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 15px 15px 30px;

}
.favourite {
  background-color: $backgroundFavorite;
  box-shadow: 0 0 0 2px $colorSeries;
}
.list{
  list-style: none;
}
.container {
  color: $colorSeries;
  font-family: $series;
  font-size: 15px;
  font-weight: bold;
}
.poster {
  margin: 0 auto;
  padding-bottom: 15px;
}
